@model IEnumerable<AziendaSpedizioni.Models.Spedizioni>

@{
    ViewBag.Title = "SpedizioniOggi";
}

<h2>SpedizioniOggi</h2>


<table class="table table-striped">
    <tr>

        <th>

            Citta Destinazione
        </th>
        <th>
            Numero Spedizioni
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>


            <td>
                @Html.DisplayFor(modelItem => item.cittaDestinazione)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IdSpedizione)
            </td>

        </tr>
    }

</table>